.section_container {
    width: 350px;
    height: 136px;
    border-radius: 8px;
    display: flex;

    background: var(--white);
    filter: drop-shadow(4px 4px 4px rgba(33, 33, 33, 0.1));
}

.article_container {
    width: 119px;
}

.article_container h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: var(--dark);

    text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);

    margin: 0;
}

.pokemon_stats {
    display: inline-block;
}

.pokemon_stats h6 {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #4B4B4B;

    margin: 0;
}

.circle {
    width: 37px;
    height: 36px;
    border: 3px solid var(--dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
}