.header {
    position: relative;
    width: 100%;
    height: 93px;

    display: flex;
    align-items: center;

    background-color: var(--third);
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
}

.img {
    margin-left: 157px;
}

a {
    font-size: 25px;
    padding-inline: 29px;
    
}

a:hover {
    border-bottom: 2px solid var(--dark);
    cursor: pointer;
}