.section_container {
    min-height: calc(100vh - 93px);

    background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_container {
    font-family: Source Sans Pro;
    width: 1088px;
    height: 53px;
    border-radius: 40px;
    border: none;

    padding: 0px 31px;

    background: #F2F2F2;

    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;
}

.input_container:focus-visible {
    outline: none
}

.article_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    padding: 36px 0px 0px 0px;
}

.h1_class {
    font-size: 35px;
}

.article_container_input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.article_container_select {
    width: 450px;
    display: flex;
    justify-content: space-between;

    padding: 36px 0px 0px 150px;
}

.select_container {
    width: 135px;
    height: 21px;
    display: inline-block;

    font-family: Source Sans Pro;
    font-size: 16px;
    text-align: center;

    background: #F2F2F2;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: transparent;
    background-image: url('../../assets/selectArrow.svg');
    background-repeat: no-repeat;
    background-position: 115px;

}

.select_container:hover {
    cursor: pointer;
}

.select_container:focus {
    outline: none;
}

.button {
    position: fixed;
    text-align: center;
    margin-top: 650px;

    width: 231px;
    height: 66px;

    font-family: Karla;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;

    background: #F2CB07;
    box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
    border-radius: 11px;
    border: none;

    filter: opacity(30%);

    color: var(--dark);
}

.button:hover {
    filter: opacity(100%);
}

