.input_container {
    width: 1088px;
    height: 53px;
    border-radius: 40px;
    border: none;

    background: #F2F2F2;
    
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;;
}
